
.header {
    height:120px;
    width:100%;
}
.button1 {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:30px;
    margin-left: 30px;
}
.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:30px;
}
.logo {
    float:left;
}
.nav-item {
    float:right;
    margin-right:220px;
}
.button:hover{
    color: orange;
    cursor: pointer;
}


.block {
    background: #f9f9f9;
    border-left: 10px solid orange;
    margin: 1.5em 10px;
    padding: 0.1em 20px;
}
.block p {
    display: inline;
}
.block .quote{
    font-size: 400%;
}

.column{
    float: left;
    width: 31%;
    left:1.5%;
    position: relative;
    padding: 10px;
    bottom: 450px;
    top: 20px;
}
.column img{
    border-radius: 5px;
}
.clear{
    clear: both;
}

.column-1{
    float: right;
    width: 31%;
    position: relative;
    padding: 10px;
    bottom: 450px;
    top: 20px;
    background-color: lightgray;
    margin-right: 5px;
}
.column-1 img{
    border-radius: 5px;
}
.card{
    background-color: white;
    height: 200px;
}

